
#loader_div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }


  #contenedor {
    background-color:rgb(255, 255, 255);
    display: grid;
    place-content: center;
    height: 100vh;
    color: #000;
  }

  .cargando {
    position: relative;
    color: #000000;
    margin-top: 2em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
  }

  .rueda {
    position: relative;
    border: 10px solid rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    border-left-color: transparent;
    width: 150px;
    height: 150px;
    animation: giro 1s linear infinite;
    margin: 0 auto;
  }

  .rueda img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* Ajusta según el tamaño deseado */
    height: 100px;
    border-radius: 50%; /* Opcional: si quieres que la imagen sea circular */
  }

  @keyframes giro {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }